<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project P.F.I - Personal Finances & Investing</title>
    <meta name="description" content="Personal website about my hobby - Personal Finances & Investing">

    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
        integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>

    <script src="../resources/js/app.js"></script>
</head>

<body class="page__preload">
    <!-- MAIN MENU, NAVIGATION -->
    <nav class="navigation">
        <header class="navigation__header-element">
            <h1 class="navigation__main-header">
                <a href="index.html" class="link link--no-hover-underline link--default-font-color"
                    id="navigation__main-header-link">
                    Project P.F.I
                </a>
            </h1>
        </header>

        <div class="navigation__list-wrapper">
            <ul class="navigation__list">
                <li class="navigation__list-element">
                    <a href="index.html"
                        class="link link--default-font-color link--no-hover-underline navigation__list-element-link">
                        Home
                    </a>
                </li>

                <!-- <li class="navigation__list-element">
                    <a href="personal-finances.html"
                        class="link link--default-font-color link--no-hover-underline navigation__list-element-link">
                        Finance
                    </a>
                </li> -->

                <li class="navigation__list-element">
                    <a href="investing.html"
                        class="link link--default-font-color link--no-hover-underline navigation__list-element-link">
                        Investing
                    </a>

                    <ul class="navigation__dropdown-list">
                        <li class="navigation__dropdown-list-item">
                            <a href="investing.html#portfolios-types"
                                class="link link--no-hover-underline navigation__dropdown-list-item-link">
                                Types of portfolios
                            </a>
                        </li>

                        <hr>

                        <li class="navigation__dropdown-list-item">
                            <a href="#" class="link link--no-hover-underline navigation__dropdown-list-item-link">
                                Set of basic rules
                            </a>
                        </li>

                        <hr>

                        <li class="navigation__dropdown-list-item">
                            <a href="#" class="link link--no-hover-underline navigation__dropdown-list-item-link">
                                The big mistakes
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="navigation__list-element">
                    <a href="faq.html"
                        class="link link--default-font-color link--no-hover-underline navigation__list-element-link">
                        FAQ
                    </a>
                </li>

                <li class="navigation__list-element">
                    <a href="contact.html"
                        class="link link--default-font-color link--no-hover-underline navigation__list-element-link">
                        Contact
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- END MAIN MENU, NAVIGATION -->

    <!-- MAIN -->
    <main class="page__main">
        <h2>Main content</h2>
        <p>Personal website about my hobby - Personal Finances & Investing</p>

        <hr>

        <h3>Personal Finances</h3>
        <article class="page__article">
            <h3>Personal Finances</h3>

            <section class="page__section">
                some section here
            </section>
        </article>
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer class="footer">
        <ul class="footer__list">
            <li class="footer__list-element">Author: Igor Józefowicz</li>

            <li class="footer__list-element">Email:
                <a href="mailto:igor@jozefowicz.pl" target="_blank" class="link">igor@jozefowicz.pl</a>
            </li>

            <li class="footer__list-element">Github:
                <a href="https://github.com/igorjoz" target="_blank" class="link">@igorjoz</a>
            </li>

            <li class="footer__list-element">LinkedIn:
                <a href="https://www.linkedin.com/in/igor-jozefowicz/" target="_blank"
                    class="link">in/igor-jozefowicz</a>
            </li>
        </ul>
    </footer>
    <!-- END FOOTER -->

</body>

</html>