<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Project P.F.I. - Personal Finances & Investing</title>
    <meta name="description" content="Personal website about my hobby - Personal Finances & Investing">

    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="stylesheet" href="../resources/css/page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- MAIN MENU, NAVIGATION -->
    <nav class="navigation">
        <header class="navigation__header-element">
            <h1 class="navigation__main-header">
                <a href="index.html" class="link link--no-hover-underline link--default-font-color">Project P.F.I -
                    Personal Finance & Investing </a>
            </h1>
        </header>

        <ul class="navigation__list">
            <li class="navigation__list-element">
                <a href="index.html" class="link">Home</a>
            </li>

            <li class="navigation__list-element">
                <a href="personal-finances.html" class="link">Personal Finance</a>
            </li>

            <li class="navigation__list-element">
                <a href="investing.html" class="link">Investing</a>
            </li>

            <li class="navigation__list-element">
                <a href="contact.html" class="link">Contact</a>
            </li>
        </ul>
    </nav>
    <!-- END MAIN MENU, NAVIGATION -->

    <!-- MAIN -->
    <main class="page__main">
        <h2>Main content</h2>
        <p>Personal website about my hobby - Personal Finances & Investing</p>

        <hr>

        <h3>Personal Finances</h3>
        <article class="page__article">
            <h3>Personal Finances</h3>

            <section class="page__section">
                some section here
            </section>
        </article>
    </main>
    <!-- END MAIN -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="footer__author">Author: Igor Józefowicz</div>

        <div>
            Email:
            <a href="mailto:igor@jozefowicz.pl" target="_blank" class="link">igor@jozefowicz.pl</a>
        </div>

        <div>
            Github:
            <a href="https://github.com/igorjoz" target="_blank" class="link">@igorjoz</a>
        </div>

        <div>
            LinkedIn:
            <a href="https://www.linkedin.com/in/igor-jozefowicz/" target="_blank" class="link">in/igor-jozefowicz</a>
        </div>
    </footer>
    <!-- END FOOTER -->

</body>

</html>