@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: $font-sans-serif;
    color: $default-font-color;
    background-color: $default-background-color;

    &.page__preload * {
        transition: none !important;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
}

.page {
    &__main {
        margin-top: 30px;
    }

    &__article {
        display: block;
        background-color: $default-background-color;
        margin: 0 30%;
    }

    &__section-header {
        font-size: 3rem;
        text-align: center;
        padding-bottom: 20px;
    }

    &__section {
        min-width: 100%;
        display: flex;
        display: block;

        justify-content: center;
    }
}