@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.8rem;
    font-family: $font-sans-serif;
    color: $default-font-color;
    background-color: $default-background-color;

    &.page__preload * {
        transition: none !important;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr {
    margin: 0;
}

.page {
    &__main {
        margin-top: 30px;
    }

    &__article {
        display: block;
        background-color: $default-background-color;
        margin: 0 25%;

        @media (max-width: $md) {
            margin: 0 15%;
        }

        @media (max-width: $sm) {
            margin: 0 5%;
        }
    }

    &__article-header {
        margin-bottom: 20px;
        text-align: center;
    }

    &__article-header-text {
        font-size: 3.6rem;
    }

    &__section-header {
        font-size: 3rem;
    }

    &__section {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;

        &--center {
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    &__bold-text {
        font-weight: 600;
    }

    &__image-wrapper {
        width: 100%;
    }

    &__image {
        width: 100%;
        height: 100%;
    }

    &__accordion {
        padding-bottom: 20px;
    }
}

.ui-tooltip-content {
    font-size: 1.8rem;
    z-index: 2;
    background-color: $secondary-background-color;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
}

.ui-widget-content {
    font-family: $font-sans-serif;
    color: $default-font-color;
    // background-color: $default-background-color;
    background-color: $secondary-background-color;
    border: 1px solid $secondary-color;
    border: none;
}

.ui-accordion-content {
    padding: 10px !important;
}

.ui-accordion-header {
    font-size: 3rem !important;
}

#open-popup {
    padding: 20px
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 200px;
    margin: 20px auto;
    text-align: center;
}