@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    background-color: #222831;
    color: #EEEEEE;
}

html {
    font-size: 18px;
}

body {
    font-family: $font-sans-serif;
    color: $default-font-color;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.page {
    &__main {
        margin-top: 30px;
    }

    &__article {
        display: block;
        background-color: #393E46;
    }

    &__section {
        background-color: #393E46;
    }
}