@import './variables';
@import './page';

@import './components/navigation';
@import './components/footer';

@import './components/link';
@import './components/form';
@import './components/slider';

@import './components/home';
@import './components/investing';
@import './components/gallery';